[submodule "Common"]
	path = Common
	url = https://github.com/beattyml1/Ex-NugetStuff-Common.git
[submodule "Web"]
	path = Web
	url = https://github.com/beattyml1/Ex-NugetStuff-Web.git
[submodule "DevConfig"]
	path = DevConfig
	url = https://github.com/beattyml1/Ex-NugetStuff-DevConfig.git
[submodule "DevEnvironments"]
	path = DevEnvironments
	url = https://github.com/beattyml1/Ex-NugetStuff-DevEnvironments.git
[submodule "BuildUtils"]
	path = BuildUtils
	url = https://github.com/beattyml1/Ex-Nuget-Stuff-BuildUtils.git
